{% extends 'Base.html' %} {% block title %} SetExam {% endblock title %} {% block body %}

<div class="container py-4 px-5 my-4">
    {% for message in messages %}
    <div class="alert alert-success alert-{{ message.tags }}" role="alert">
        <strong>Message-</strong> {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    <form action="" method="POST">
        {% csrf_token %}

        <div class="mb-3">
            <label for="name" class="form-label">Exam Date</label>
            <input type="number" class="form-control" id="fname" name="ExamDate" placeholder="Exam Date" required="required">
        </div>

        <div class="mb-3">
            <label for="name" class="form-label">Exam Month</label>
            <input type="number" class="form-control" id="fname" name="ExamMonth" placeholder="Exam Month" required="required">
        </div>

        <div class="mb-3">
            <label for="name" class="form-label">Exam StartTime in 24 hours Format</label>
            <input type="number" class="form-control" id="fname" name="ExamStartTime" placeholder="Exam StartTime" required="required">
        </div>

        <div class="mb-3">
            <label for="name" class="form-label">Exam DurationTime</label>
            <input type="number" class="form-control" id="fname" name="ExamDurationTime" placeholder="Exam DurationTime" required="required">
        </div>

        <div class="mb-3">
            <label for="name" class="form-label">Total Number Of Questions</label>
            <input type="number" class="form-control" id="fname" name="TotalQues" placeholder="Total Number Of Questions" required="required">
        </div>

        <div class="mb-3">
            <label for="name" class="form-label">Registration last date</label>
            <input type="number" class="form-control" id="fname" name="RegLastDate" placeholder="Registration last date" required="required">
        </div>

        <div class="mb-3">
            <label for="name" class="form-label">Registration last month</label>
            <input type="number" class="form-control" id="fname" name="RegLastMonth" placeholder="Registration last month" required="required">
        </div>


        <button type="submit" class="btn btn-primary" value="register">Submit</button>


    </form>
</div>

{% endblock body %}