{% extends 'Base.html' %} {% block title %} SetQuestion {% endblock title %} {% block body %} 

<div class="container py-4 px-5 my-4">
    {% for message in messages %}
    <div class="alert alert-success alert-{{ message.tags }}" role="alert">
        <strong>Message-</strong> {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    <h3 class="text-center my-3">Total Questions Added - {{dictt.total}}<h3/>
    <form action="" method="POST">
        {% csrf_token %}

        <div class="mb-3">
            <label for="name" class="form-label">Question Number</label>
            <input type="number" class="form-control" id="fname" name="QuesNumber" placeholder="Question Number" required="required">
        </div>

        <div class="mb-3">
            <label for="name" class="form-label">Question Body</label>
            <input type="text" class="form-control" id="fname" name="QuesBody" placeholder="Question Body" required="required">
        </div>

        <div class="mb-3">
            <label for="name" class="form-label">Option a</label>
            <input type="text" class="form-control" id="fname" name="opa" placeholder="Option a" required="required">
        </div>

        <div class="mb-3">
            <label for="name" class="form-label">Option b</label>
            <input type="text" class="form-control" id="fname" name="opb" placeholder="Option b" required="required">
        </div>

        <div class="mb-3">
            <label for="name" class="form-label">Option c</label>
            <input type="text" class="form-control" id="fname" name="opc" placeholder="Option c" required="required">
        </div>

        <div class="mb-3">
            <label for="name" class="form-label">Option d</label>
            <input type="text" class="form-control" id="fname" name="opd" placeholder="Option d" required="required">
        </div>

        <div class="mb-3">
            <label for="name" class="form-label">Correct Option (a,b,c or d)</label>
            <input type="text" class="form-control" id="fname" name="currect" placeholder="Correct Option (a,b,c or d)" required="required">
        </div>

        <div class="mb-3">
            <label for="name" class="form-label">Marks</label>
            <input type="number" class="form-control" id="fname" name="marks" placeholder="Marks" required="required">
        </div>








        <button type="submit" class="btn btn-primary" value="register">Submit</button>


    </form>
</div>


{% endblock body %}